Last login: Mon Dec  2 13:37:20 on console
macbookirmpsAir:~ macbookair-mp$ history
    1  java
    2  java -version
    3  ls
    4  brew update
    5  /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    6
    7  brew
    8  brew install git
    9  git version
   10  brew install wget
   11  brew install docker
   12  docker ps
   13  docker ver
   14  docker version
   15  docker container ps
   16  java -version
   17  docker pull postgres:psql
   18  brew remove docker
   19  docker ps
   20  docker container ls -a
   21  docker run 661d49a0c3ae
   22  docker image ls -a
   23  docker rm 661d49a0c3ae
   24  docker image ls
   25  docker run --name psql-server -e POSTGRES_PASSWORD=welcome1 -d postgres
   26  docker ps
   27  docker exec -it psql-server bash
   28  psql -h localhost -p 5432 postgres -W
   29  brew install psql-client
   30  docker container ls -a
   31  docker rm psql-server
   32  docker container ls -a
   33  docker rm be97ffc56084
   34  docker rm be97ffc56084
   35  docker ps
   36  docker run -d -p 5432:5432  --name psql-server -e POSTGRES_PASSWORD=welcome1  postgres
   37  docker exec -it psql-server bash
   38  ls
   39  cd Documents/
   40  ls
   41  mkdir monggopesen
   42  cd monggopesen/
   43  ls
   44  mkdir backend
   45  ls
   46  cd backend/
   47  git -version
   48  git clone https://gitlab.com/MONB/seller-center.git
   49  git clone https://gitlab.com/MONB/seller-center.git
   50  ls
   51  cd seller-center/
   52  git branch
   53  mvn
   54  vim $HOME/.profilw
   55  cd
   56  ls
   57  .m2/
   58  ls
   59  sudo .m2/
   60  sudo cd .m2/
   61  ls
   62  cd Downloads/
   63  ls
   64  ls -l
   65  chown -R root:wheel Downloads/apache-maven*
   66  chown -R root:wheel apache-maven*
   67  ls -l
   68  ls -a
   69  nano $HOME/.profile
   70  ls
   71  who am i
   72  where me
   73  where i
   74  where
   75  cd
   76  la
   77  ls
   78  cd Downloads/
   79  ls
   80  mv apache-maven-3.6.3 /opt/apache-maven
   81  cd
   82  cd Documents/
   83  ls
   84  vim $HOME/.profile
   85  mvn version
   86  exit
   87  ls
   88  ls
   89  mvn version
   90  mvn -version
   91  brew install maven
   92  mvn version
   93  mvn -version
   94  ssh-keygen -t rsa -b 4096
   95  cat ~/.ssh/id_rsa.pub
   96  docker ps
   97  docker container ls -a
   98  docker run -dit --restart unless-stopped psql-server
   99  docker container ls -a
  100  docker ps -a
  101  docker start psql-server
  102  docker ps
  103  docker ps
  104  curl -X POST   http://www.amock.io/api/xment/product
  105  docker ps
  106  docker image ls -s
  107  docker image ls -a
  108  docker container ls -a
  109  docker container ls -all
  110  history
  111  docker pull mysql
  112  history
  113  history
  114  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1  -d mysql:lates
  115  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1  -d mysql
  116  docker ps
  117  docker image ls -a
  118  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1  -d mysql:latest
  119  docker ps
  120  mysql
  121  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1 mysql:latest
  122  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT_PASSWORD=welcome1 mysql:latest
  123  mvn version
  124  maven version
  125  maven -version
  126  mvn -version
  127  ls
  128  cd /usr/local/Cellar/maven/3.6.3/bin/
  129  ls
  130  cd mvn
  131  cd ..
  132  ls
  133  cd
  134  ls
  135  ls -l
  136  cd /usr/local/Cellar/maven/3.6.3/libexec/
  137  ls
  138  cd lib/
  139  ls
  140  cd
  141  echo $M2_HOME
  142  vim ~/.profile
  143  vim ~/.profile
  144  exit
  145  mvn -version
  146  vim ~/.bashrc
  147  vim /etc/profile
  148  cd
  149  vim ~/.bash_profile
  150  source ~/.bash_profile
  151  docker ps
  152  history
macbookirmpsAir:~ macbookair-mp$ docker exec -it psql-server bash
root@1098ff21372d:/# psql
psql: error: could not connect to server: FATAL:  role "root" does not exist
root@1098ff21372d:/# psql -u postgres
/usr/lib/postgresql/12/bin/psql: invalid option -- 'u'
Try "psql --help" for more information.
root@1098ff21372d:/# psql -h localhost -U postgres -d postgres
psql: error: could not connect to server: FATAL:  database "postgres" does not exist
root@1098ff21372d:/# psql -h localhost -U postgres
psql: error: could not connect to server: FATAL:  database "postgres" does not exist
root@1098ff21372d:/# psql -U postgrest
psql: error: could not connect to server: FATAL:  role "postgrest" does not exist
root@1098ff21372d:/# history
    1
    2  psql -u postgres
    3  psql -h localhost -U postgres -d postgres
    4  psql -h localhost -U postgres
    5  psql -U postgrest
    6  history
root@1098ff21372d:/#
root@1098ff21372d:/# history
    1
    2  psql -u postgres
    3  psql -h localhost -U postgres -d postgres
    4  psql -h localhost -U postgres
    5  psql -U postgrest
    6  history
    7  history
root@1098ff21372d:/# q
bash: q: command not found
root@1098ff21372d:/# exit
exit
macbookirmpsAir:~ macbookair-mp$ cd Documents/docker-data/postgresql/
macbookirmpsAir:postgresql macbookair-mp$ ls
PG_VERSION		pg_multixact		pg_tblspc
base			pg_notify		pg_twophase
global			pg_replslot		pg_wal
pg_commit_ts		pg_serial		pg_xact
pg_dynshmem		pg_snapshots		postgresql.auto.conf
pg_hba.conf		pg_stat			postgresql.conf
pg_ident.conf		pg_stat_tmp		postmaster.opts
pg_logical		pg_subtrans		postmaster.pid
macbookirmpsAir:postgresql macbookair-mp$ cd
macbookirmpsAir:~ macbookair-mp$ ¬
macbookirmpsAir:~ macbookair-mp$ history
    1  java
    2  java -version
    3  ls
    4  brew update
    5  /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    6
    7  brew
    8  brew install git
    9  git version
   10  brew install wget
   11  brew install docker
   12  docker ps
   13  docker ver
   14  docker version
   15  docker container ps
   16  java -version
   17  docker pull postgres:psql
   18  brew remove docker
   19  docker ps
   20  docker container ls -a
   21  docker run 661d49a0c3ae
   22  docker image ls -a
   23  docker rm 661d49a0c3ae
   24  docker image ls
   25  docker run --name psql-server -e POSTGRES_PASSWORD=welcome1 -d postgres
   26  docker ps
   27  docker exec -it psql-server bash
   28  psql -h localhost -p 5432 postgres -W
   29  brew install psql-client
   30  docker container ls -a
   31  docker rm psql-server
   32  docker container ls -a
   33  docker rm be97ffc56084
   34  docker rm be97ffc56084
   35  docker ps
   36  docker run -d -p 5432:5432  --name psql-server -e POSTGRES_PASSWORD=welcome1  postgres
   37  docker exec -it psql-server bash
   38  ls
   39  cd Documents/
   40  ls
   41  mkdir monggopesen
   42  cd monggopesen/
   43  ls
   44  mkdir backend
   45  ls
   46  cd backend/
   47  git -version
   48  git clone https://gitlab.com/MONB/seller-center.git
   49  git clone https://gitlab.com/MONB/seller-center.git
   50  ls
   51  cd seller-center/
   52  git branch
   53  mvn
   54  vim $HOME/.profilw
   55  cd
   56  ls
   57  .m2/
   58  ls
   59  sudo .m2/
   60  sudo cd .m2/
   61  ls
   62  cd Downloads/
   63  ls
   64  ls -l
   65  chown -R root:wheel Downloads/apache-maven*
   66  chown -R root:wheel apache-maven*
   67  ls -l
   68  ls -a
   69  nano $HOME/.profile
   70  ls
   71  who am i
   72  where me
   73  where i
   74  where
   75  cd
   76  la
   77  ls
   78  cd Downloads/
   79  ls
   80  mv apache-maven-3.6.3 /opt/apache-maven
   81  cd
   82  cd Documents/
   83  ls
   84  vim $HOME/.profile
   85  mvn version
   86  exit
   87  ls
   88  ls
   89  mvn version
   90  mvn -version
   91  brew install maven
   92  mvn version
   93  mvn -version
   94  ssh-keygen -t rsa -b 4096
   95  cat ~/.ssh/id_rsa.pub
   96  docker ps
   97  docker container ls -a
   98  docker run -dit --restart unless-stopped psql-server
   99  docker container ls -a
  100  docker ps -a
  101  docker start psql-server
  102  docker ps
  103  docker ps
  104  curl -X POST   http://www.amock.io/api/xment/product
  105  docker ps
  106  docker image ls -s
  107  docker image ls -a
  108  docker container ls -a
  109  docker container ls -all
  110  history
  111  docker pull mysql
  112  history
  113  history
  114  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1  -d mysql:lates
  115  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1  -d mysql
  116  docker ps
  117  docker image ls -a
  118  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1  -d mysql:latest
  119  docker ps
  120  mysql
  121  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT__PASSWORD=welcome1 mysql:latest
  122  docker run -d -p 3306:3306  --name mysqlku -e MYSQL_ROOT_PASSWORD=welcome1 mysql:latest
  123  mvn version
  124  maven version
  125  maven -version
  126  mvn -version
  127  ls
  128  cd /usr/local/Cellar/maven/3.6.3/bin/
  129  ls
  130  cd mvn
  131  cd ..
  132  ls
  133  cd
  134  ls
  135  ls -l
  136  cd /usr/local/Cellar/maven/3.6.3/libexec/
  137  ls
  138  cd lib/
  139  ls
  140  cd
  141  echo $M2_HOME
  142  vim ~/.profile
  143  vim ~/.profile
  144  exit
  145  mvn -version
  146  vim ~/.bashrc
  147  vim /etc/profile
  148  cd
  149  vim ~/.bash_profile
  150  source ~/.bash_profile
  151  docker ps
  152  history
  153  docker exec -it psql-server bash
  154  cd Documents/docker-data/postgresql/
  155  ls
  156  vim pg_hba.conf
  157  cd
  158  history
macbookirmpsAir:~ macbookair-mp$ docker run -d -p 5432:5432  --name psql-server -e POSTGRES_PASSWORD=welcome1  postgres
0d46298ad0517de58844c120a58a30054e83643d4eea7846b22536b2f7ed65f8
macbookirmpsAir:~ macbookair-mp$ ls
Applications	Downloads	Movies		Postman
Desktop		Dropbox		Music		Public
Documents	Library		Pictures	docker
macbookirmpsAir:~ macbookair-mp$ cd Documents/
.DS_Store    .localized   docker-data/ monggopesen/ spring-boot/
macbookirmpsAir:~ macbookair-mp$ cd Documents/spring-boot/
.DS_Store      designpattern/ receptionist/
macbookirmpsAir:~ macbookair-mp$ cd Documents/spring-boot/receptionist/.git
.git/       .gitignore
macbookirmpsAir:~ macbookair-mp$ cd Documents/spring-boot/receptionist/.gitignore
-bash: cd: Documents/spring-boot/receptionist/.gitignore: Not a directory
macbookirmpsAir:~ macbookair-mp$ cd Documents/spring-boot/receptionist/
macbookirmpsAir:receptionist macbookair-mp$ vim .gitignore

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
".gitignore" 31L, 333C
